.password {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  margin: auto;
}

.input-box {
  max-width: 40%;
  max-height: 60%;
  padding: 4rem;
  border-radius: 2%;
  margin: auto;
  background-color: aliceblue;
}

.senha {
  display: block;
  margin: auto;
}

.botoes {
  display: flex;
  justify-content: space-around;
}

.input-box input {
  height: 60px;
  width: 20rem;
  background: #f9f9f9;
  border: none;
  border-radius: 8px;
  color: #333;
  outline: none;
  font-size: 24px;
  margin: 1rem auto;
  padding: 0 20px;
  letter-spacing: 2px;
  box-shadow: -4px -4px 5px rgba(255, 255, 255, 1),
    inset 4px 4px 5px rgba(0, 0, 0, 0.2),
    inset -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.input-box #btn {
  background: #b72e2e;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  margin: auto;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  width: 12rem;
  transition: 1s all; /* velocidade de transicao ao passar o mouse por cima */
}

.input-box #btn:hover {
  background-color: rgb(245, 203, 87);
}

.input-box #btn:last-child {
  margin-right: 0;
}
